/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  background-color: rgb(82, 82, 202);
  display: flex;
  justify-content: center;
  /* align-items: end; */
  /* padding-top: 20vh; */

  
}
.TodoForm{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input{
  /* opacity: 0.2; */
  background-color: rgb(7, 7, 27);
  padding: 10px;
  width:350px;
  border: rgb(150, 150, 245) 1px solid;
  color: white;
  font-size: 20px;

}
.todo-input::placeholder{
  color: white;
}
.todo-btn{
  padding: 10px;
  background-color:rgb(82, 82, 202);
  color: white;
  border: rgb(150, 150, 245) 1px solid;
  font-size: 20px;
  
}
.TodoWrapper{
  margin-top: 10vh;
  padding: 50px 30px;
  background-color: rgb(14, 14, 70);
  
}

.Todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  margin: 20px 0;
  padding: 0 15px;
  border-radius: 10px;
  background-color: rgb(82, 82, 202);
  max-width: 450px;
}
h1{
  color: white;
  text-align: center;
}

.Todo div{
  display:  flex;
  gap: 10px;
  margin-left: 10px;
  font-size: 25px;
}